body{
background-color: #F1EDE4;
margin: 0;
}

.header {
  padding: 100px;
  background: #FFFDD0;
  color: black;
  font-size: 30px;
  max-height: 50%;
}
.header h1 {
text-align: center;
}
.menu {
  padding: 40px;
  background: #048EC0;
  font-size: 28px;
  font-family: sans-serif;
}
.menu a i{
margin-right: 10px;
font-size: 40px;
transition: color .4s ease;
}
.menu a:hover{
color: blue;
}


.content{
margin-left: auto;
margin-right: auto;
text-align: right;
}

a{
text-decoration: none;
margin-right: 2rem;
color: black;
}

img{
height: 550px;
width: 90%;
margin: 0 0 0 5%;
padding: 0;
}
table, th, td{
  border: 2px solid;
  border-width: 5px;
}
table{
  width: 75%;
  height: 100px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 50px;
  padding: 2px;
}

.title{
    background-color: #f30c1b
}

.container{
  border: 0;
  width: 75%;
  height: 100px;
  text-align:  left;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.ingredients{
  width: 35%;
  height: 100px;
  text-align: center;
}

.ingredients h3{
  margin-top: 75px;
}

.methods{
padding: 10px;
}


footer{
background-color: #D3D3D3;
height: auto;
width: 100vw;
font-family: sans-serif;
padding: 40px 0 0 0;
margin: 50px 0 0 0;
color: black;
}
.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.footer-content h3{
 font-size: 50px;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 3rem;
 font-family: serif;
}
.footer-content p{
width: 500px;
margin: 10px auto;
line-height: 28px;
font-size: 14px;
}
.socials {
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 16px 0 48px 0;
}
.socials li {
margin: 0 10px;
}
.socials a{
text-decoration: none;
color: black;
}
.social a i{
font-size: 16px;
transition: color .4s ease;
}
.socials a:hover{
color: blue;
}
.footer-bottom {
width: 100vw;
padding: 20px 0;
text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
