body{
margin: 0;
background: black;
}

.item1{
  background-image: url("../Image/Background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: gold;
  font-style: italic;
  font-size: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.item{
background-color: darkred;
flex-grow: 1;
flex-wrap:  wrap-reverse;
padding: 10px;
}

a{
color: gold;
font-size: 100px;
font-style: normal;
text-decoration: none;
}

.Container{
display: flex;
flex-direction: row;
justify-content: space-around;
text-align: center;
}

  .col{
    background-color: Darkred;
    position: relative;
    top: 25px;
    height: 275px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
  }

.img{
width: 25%;
height: 79%;
position:absolute;
margin: 25px;
}

.about{
background-color: Red;
border: black;
border-radius: 25px;
font-size: 25px;
color: black;
height: 100px;
padding: 25px;
margin: 25px 50px -50px 29%;
position: absolute;
}

.audio{
margin: 195px 0 -25px 30%;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;

}
