body{
  margin: 0;
background: black;
}

.item1{
  background-image: url("../Image/Background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: gold;
  font-size: 175px;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.item{
font-size: 100px;
background-color: darkred;
flex-grow: 1;
flex-wrap:  wrap-reverse;
padding: 10px;
}

.Container{
display: flex;
flex-direction: row;
justify-content: space-around;
text-align: center;
}

a{
color: gold;
font-style: normal;
}

h1{
background-color: red;
height: 195px;
width: 70%;
padding: 50px;
border: black;
border-radius: 25px;
margin: 50px 90px 15px 12%;
font-size: 45px;
text-align: center;
font-family: serif;
}

a{
text-align: center;
font-size: 100px;
text-decoration: none;
font-stretch: expanded;
}

video{
  height: 75%;
  width: 75%;
  margin: 25px 50px 0 12%;
}

.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: red;
color: white;
text-align: center;
}
