  .Colume{
width: 50%;
float: left;

  }
.animals{
float: left;
width: 46%;
background-color: lightblue;
padding-left: 75px;
padding-bottom: 75px;
padding-right: 75px;
padding-top: 75px;
box-sizing: border-box;
margin: 2%;
}

img{
width: 75%;
float: left;
}


section::after {
content: "";
display: block;
clear: both;

}
